//
   Created by jcespinoza on 6/21/15.

extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") ProCultura
                    h5 Cultural events near you
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/") Events
                    li
                        a(href="/login") Login
                    li
                        a(href="/signup") SignUp

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 ProCultura