//
   Created by Light on 27/08/2015.

html
   body
      section.sub-banner.newsection
         .container
            h2.title Crear Evento
            ul.breadcrumb
               li
                  a(href='#') Home
               li Crear Evento
      // Contact
      .contact.newsection
         .container
            .row
               .col-md-6.col-sm-6
                  h2.title Get in Touch with Us
                  form#contactform(method='post')
                     .response  
                     p
                        label(for='contactname')
                           | Nombre del Evento
                           span *
                        input#contactname.textflied(type='text', value='', name='contactname', placeholder='evento')
                        i.icon.fa.fa-user
                     p
                        label(for='email')
                           | Lugar
                           span *
                        input#email.textflied(type='text', value='', name='email', placeholder='Lugar')
                        i.icon.fa.fa-envelope
                     p
                        label(for='subject')
                           | Tema
                           span *
                        input#subject.textflied(type='text', value='', name='subject', placeholder='Su Tema')
                        i.icon.fa.fa-edit
                     p
                        label(for='message')
                           | Descripción
                           span *
                        textarea#message.texttextarea(type='text', name='message', value='', placeholder='Descripción Aquí', rows='8')
                        i.icon.fa.fa-comments
                     p
                        button#submitButton.btn.btn-disabled(type='submit', name='submit', title='Crear Evento') CREAR
               .col-md-6.col-sm-6
                  // Map
                  .map-container
                     h2.title Location Map
                     #contact-map.map
                  // Contact Info
                  .contactinfo
                     h2.title Contact Info
                     ul.clearfix
                        li.clearfix
                           span.titles Address :
                           span.content
                              | 1600 Pennsylvania Ave NW, Washington, D.C., DC
                              br
                              |  20500, ABD
                        li.clearfix
                           span.titles Phone :
                           span.content +90 555 55 55
                        li.clearfix
                           span.titles Fax :
                           span.content +90 777 77 77
                        li.clearfix
                           span.titles Email:
                           span.content
                              a(href='#') info@example.com
                        li.clearfix
                           span.titles Support:
                           span.content
                              a(href='#') support@example.com
                     // Social Icon
                     .social-icon
                        a.facebook.fa.fa-facebook(href='#')
                        a.twitter.fa.fa-twitter(href='#')
                        a.googleplus.fa.fa-google-plus(href='#')
                        a.linkedin.fa.fa-linkedin(href='#')