<div id="login-page">
    <div class="container">
        <form class="form-login" ng-submit="signIn(user)">

            <h2 class="form-login-heading" style="color: black">
                <i class="fa fa-calendar fa-2x" style ="color: white"></i>  ingrese a <strong style="color: red">ProCultura</strong>
            </h2>
            <div class="login-wrap">
                <input class="form-control" type="email" name="login" ng-model="user.Email" placeholder="Correo electronico">
                <br>
                <input class="form-control" type="password" ng-model="user.Password" placeholder="Contraseña" class="showpassword">

                <label class="checkbox">
                    <span class="pull-right">
                        <a data-toggle="modal" href=""> ¿Olvido Contraseña?</a>
                    </span>
                </label>
                <button class="btn btn-warning btn-block" type="submit"><i class="fa fa-unlock"></i> ENTRAR</button>
                <hr>

                <div class="login-social-link centered">
                    <p>o ingresar mediante una red social</p>
                    <button class="btn btn-google"><i class="fa fa-google-plus-square"></i> Google+</button>
                    <button class="btn btn-linkedin"><i class="fa fa-linkedin-square "></i> LinkedIn</button>
                </div>
                <div class="registration">
                    ¿No posee una cuenta?<br />
                    <a class="" href="/signup">
                        Registrarse
                    </a>
                </div>

            </div>


    </form><!--END FORM-->
    </div>
</div>

<!--BACKSTRETCH-->
<script type="text/javascript" src="/vendor/jquery-backstretch/jquery.backstretch.min.js"></script>
<script>
    $.backstretch(["http://g02.a.alicdn.com/kf/HTB1vZxpIXXXXXXAXVXXq6xXFXXXf/Hogar-y-jard%C3%ADn-Home-decor-art-pintura-de-monet-alta-calidad-tema-instrumental-del-arte-abstracto.jpg",
                  "http://i01.i.aliimg.com/img/pb/972/609/560/560609972_270.jpg",
                  "http://i01.i.aliimg.com/wsphoto/v0/733133891/abstract-wall-art-group-painting-on-canvas-home-decor-wall-hanging-High-quality-abstract-art-hotel.jpg",
                  "http://i00.i.aliimg.com/wsphoto/v0/1457484886/home-decor-oil-font-b-painting-b-font-on-canvas-High-quality-font-b-music-b.jpg"], { speed: 1500, duration: 4000});
</script>