<body>
<div>
    <div class="container">
        <form class="form-login">
            <h2 class="form-login-heading" style="color: black"><i class="fa fa-pencil-square-o fa-2x" style ="color: white"></i>  registrate a <strong style="color: red">ProCultura</strong></h2>
            <div class="login-wrap">

                <div class="input-group">
                    <strong class="input-group-addon" id="basic-addon1"><i class="fa fa-user" style ="color: black"></i></strong>
                    <input type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1">
                </div>

                <br>

                <div class="input-group">
                    <strong class="input-group-addon" id="basic-addon1"><i class="fa fa-font" style ="color: black"></i></strong>
                    <input type="text" class="form-control" placeholder="Nombre Completo" aria-describedby="basic-addon1">
                </div>

                <br>

                <div class="input-group">
                    <strong class="input-group-addon" id="basic-addon1"><i class="fa fa-at" style ="color: black"></i></strong>
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                </div>

                <hr>
                <div class="input-group">
                    <strong class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" style ="color: black"></i></strong>
                    <input type="text" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
                </div>

                <br>

                <div class="input-group">
                    <strong class="input-group-addon" id="basic-addon1"><i class="fa fa-key" style ="color: black"></i></strong>
                    <input type="text" class="form-control" placeholder="Confirmar Contraseña" aria-describedby="basic-addon1">
                </div>

                <hr>
                <button class="btn btn-warning btn-block" type="submit"><i class="fa fa-unlock"></i> REGISTRAR</button>
            </div>
        </form><!--END FORM-->
    </div>
</div>
<!--BACKSTRETCH-->
<script type="text/javascript" src="/vendor/jquery-backstretch/jquery.backstretch.min.js"></script>
<script>
    $.backstretch(["http://g02.a.alicdn.com/kf/HTB1vZxpIXXXXXXAXVXXq6xXFXXXf/Hogar-y-jard%C3%ADn-Home-decor-art-pintura-de-monet-alta-calidad-tema-instrumental-del-arte-abstracto.jpg",
        "http://i01.i.aliimg.com/img/pb/972/609/560/560609972_270.jpg",
        "http://i01.i.aliimg.com/wsphoto/v0/733133891/abstract-wall-art-group-painting-on-canvas-home-decor-wall-hanging-High-quality-abstract-art-hotel.jpg",
        "http://i00.i.aliimg.com/wsphoto/v0/1457484886/home-decor-oil-font-b-painting-b-font-on-canvas-High-quality-font-b-music-b.jpg"], { speed: 1500, duration: 4000});
</script>
</body>
