section.sub-banner.newsection
    .container
        h2.title Registro
        ul.breadcrumb
            li
                a(href='#') Home
            li Registro

// Modal Dialog
.modal.fade(data-backdrop='static', data-keyboard='false', tabindex='-1', role='dialog', aria-hidden='true', style='padding-top:30%; overflow-y:visible;')
.modal-dialog.modal-m(ng-show='isProcessing')
    .modal-content
        .modal-header
            h3(style='margin:0;')
        .modal-body
            .progress.progress-striped.active(style='margin-bottom:0;')
                .progress-bar(style='width: 100%')
// End Modal dialog

.contact.newsection
    .container
        .row
            .col-md-6.col-md-offset-3
                h2.title Regístrese a ProCultura
                form#contactform(method='post', ng-submit='createUser()', name="signupForm" ng-disabled='isProcessing')
                    .response
                    p
                        label(for='name')
                            | Name
                            span *
                        input#contactname.textflied(type='text', value='', ng-model='user.name', name='name', placeholder='Nombre')
                        i.icon.fa.fa-user
                    p
                        label(for='username')
                            | Usuario o Email
                            span *
                        input#contactname.textflied(type='text', value='', ng-model='user.email', name='username', placeholder='Usuario')
                        i.icon.fa.fa-envelope
                    p
                        label(for='password')
                            | Password
                            span *
                        input#email.textflied(name='password', type='password', value='', ng-change="confirmPassword()", ng-model="user.password", ng-pattern="'^[a-zA-Z0-9]{8,}$'", required, title="8 Alphanumeric characters minimum", placeholder='Contraseña')
                        i.icon.fa.fa-lock
                    p
                        label(for='confirmPassword')
                            | Password
                            span *
                        input#email.textflied(name='confirmPassword', type='password', value='', ng-change="confirmPassword()", ng-model="user.confirmPassword", ng-pattern="'^[a-zA-Z0-9]{8,}$'", required, title="8 Alphanumeric characters minimum", placeholder='Confirmar Contraseña')
                        i.icon.fa.fa-lock

                    p(style="text-align: center; color: red", ng-show='showErrorMessage')
                        | Los passwords no coinciden
                    p(style="text-align: center; color: green", ng-show='!showErrorMessage')
                        | Los passwords coinciden

                    p
                        button#signupButton.btn.btn-pri(type='submit', name='signup', title='Registrarse', ng-disabled="signupForm.$invalid") Registrar

                    .registration
                        | ¿Ya posee una cuenta?
                        br
                        a(href='/login')
                            | Ingresar