section.sub-banner.newsection
    .container
        h2.title {{L10N.signupTitle | translate}}
            // Modal Dialog
.modal.fade(data-backdrop='static', data-keyboard='false', tabindex='-1', role='dialog', aria-hidden='true', style='padding-top:30%; overflow-y:visible;')
.modal-dialog.modal-m(ng-show='isProcessing')
    .modal-content
        .modal-header
            h3(style='margin:0;')
        .modal-body
            .progress.progress-striped.active(style='margin-bottom:0;')
                .progress-bar(style='width: 100%')
// End Modal dialog
.contact.newsection
    .container
        .row
            .col-md-6.col-md-offset-3
                h2.title {{L10N.signupSubtitle | translate}}
                form#contactform(method='post', ng-submit='createUser()', name="signupForm" ng-disabled='isProcessing')
                    .response
                    p
                        label(for='name')
                            | {{L10N.signupName | translate}}
                            span *
                        input#contactname.textflied(type='text', ng-model='user.name', name='name', placeholder='Nombre')
                        i.icon-abs.fa.fa-user
                            p
                        label(for='username')
                            | {{L10N.username | translate}}
                            span *
                        input#contactname.textflied(type='text', ng-model='user.email', name='username', placeholder='Correo Electronico')
                        i.icon-abs.fa.fa-envelope
                            p
                        label(for='password')
                            | {{L10N.password | translate}}
                            span *
                        input#email.textflied(name='password', type='password', ng-change="confirmPassword()", ng-model="user.password", ng-pattern="'^[a-zA-Z0-9]{8,}$'", required, title="8 Alphanumeric characters minimum", placeholder='Contraseña')
                        i.icon-abs.fa.fa-lock
                            p
                        label(for='confirmPassword')
                            | {{L10N.confirmPassword | translate}}
                            span *
                        input#email.textflied(name='confirmPassword', type='password', ng-change="confirmPassword()", ng-model="user.confirmPassword", ng-pattern="'^[a-zA-Z0-9]{8,}$'", required, title="8 Alphanumeric characters minimum", placeholder='Confirmar Contraseña')
                        i.icon-abs.fa.fa-lock
                            p(style="text-align: center; color: red", ng-show='showErrorMessage')
                        | {{L10N.noMatchPassword | translate}}
                        p
                        button#signupButton.btn.btn-pri(type='submit', name='signup', title='Registrarse', ng-disabled="signupForm.$invalid") {{L10N.registerButton | translate}}
                            .registration
                        | {{L10N.hasAccount | translate}}
                        br
                        a(href='/login')
                            | {{L10N.loginButton | translate}}