//
   Created by JuanCarlos on 8/29/2015.
block event-search-form
    section.eventform.newsection
        .container
            .row
                .col-md-3
                    small {{'eventSearchFormSubtitle' | translate}}
                    h2.title {{'eventType' | translate}}
                .col-md-9.eventform-con
                    form
                        .form-input.search-location
                            input(type='text', value='', placeholder='Select Location')
                            i.icon.icon-s.fa.fa-search
                            button.icon.fa.fa-globe
                        .form-input
                            input.date_timepicker_start(placeholder='mm/dd/yyyy')
                            button.open.icon.fa.fa-calendar(type='button', value='open')
                        .form-input
                            .styled-select
                                select
                                    option {{'selectFields' | translate}}
                        .form-input
                            button.btn.btn-pri {{'findEventButton' | translate}}