//
   Created by jcespinoza on 6/21/15.

.div(ng-include="'partials/main/view/countdownBanner'")
.div(ng-include="'partials/main/view/eventSearchForm'")
.container
   .jumbotron
       h1 ProCultura
       h3 Bienvenido a ProCultura! El mejor lugar para encontrar eventos culturales cerca de tí.
   .row
       .col-md-6