//
   Created by jcespinoza on 6/21/15.

.container
   .jumbotron
       h1 ProCultura
       h2 Bienvenido a ProCultura! El mejor lugar para encontrar eventos culturales cerca de tí.
   .row
       .col-md-6