style h1{color : #000000;text-align : center;font-family: "SIMPSON";}form {width: 300px;margin: 0 auto;}
h1 Create an Event
br
br
form( id="eventForm")
   p Event Name:
   input(type ="text")
   br
   br
   p Event Start Date:
   input(type="date" name="startDate")
   br
   br
   p Event End Date:
   input(type="date" name="endDate")
   br
   br
   p Summary:
   textarea(form="eventForm")
   br
   br
   p Location:
   input(type="text")
   br
   br
   p Front Image:
   input(type="file")
   br
   br
   p Price:
   input(type ="number")
   br
   br
   input(type="submit")
   br
   br