//
   Created by Light on 27/08/2015.
section.sub-banner.newsection
    .container
        h2.title Crear Evento
// Contact
.contact.newsection
    .container
        .row
            .col-md-6.col-sm-6
                form#contactform(name="CreateEvent", method='post', ng-submit='createEvent()')
                    p
                        div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                            label
                                | Nombre del Evento
                                span *
                            input.textflied(type='text', ng-model='event.Name', required)
                            i.icon.fa.fa-user
                    p
                        div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                            label
                                | Descripcion Corta
                                span *
                            input.textflied(type='text', ng-model='event.ShortDescription', required)
                            i.icon.fa.fa-edit
                    p
                        div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                            label
                                | Lugar
                                span *
                            input.textflied(type='text', ng-model='event.Location', required)
                            i.icon.fa.fa-map-marker
                    p
                        div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                            label
                                | URL Imagen
                            input.textflied(type='text', ng-model='event.ImageUrl')
                            i.icon.fa.fa-image(style="color: brown")
                    .row
                        .col-md-6.col-sm-6
                            label
                                | Fecha de Inicio
                                span *
                        .col-md-6.col-sm-6
                            label
                                | Hora Inicio
                    .row
                        .col-md-6.col-sm-6
                            div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                                input.textfliedCalendar(type='date', ng-model='event.BeginDate', required)
                        .col-md-6.col-sm-6
                            div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                                input.textfliedCalendar(type='time', value = '00:00')
                    br
                    .row
                        .col-md-6.col-sm-6
                            label
                                | Fecha de Culminacion
                        .col-md-6.col-sm-6
                            label
                                | Hora Culminacion
                    .row
                        .col-md-6.col-sm-6
                            div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                                input.textfliedCalendar(type='date', ng-model='event.EndDate')
                        .col-md-6.col-sm-6
                            div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                                input.textfliedCalendar(type='time', value = '00:00')
                    p
                        div.tooltip-bottom(data-tooltip='Ej. Obra Teatral: Helen Keller ')
                            label
                                | Descripcion
                                span *
                            textarea.texttextarea(type='text', ng-model='event.LongDescription', placeholder='Descripcion del Evento', rows='8', required)
                            i.icon.fa.fa-comments(style="color: orange")
                    p
                        button#submitButton.btn.btn-disabled(type='submit', title='Crear Evento') CREAR
            .col-md-6.col-sm-6
                // Map
                .map-container
                    h2.title Localidad
                    #contact-map.map
                // Contact Info
                .contactinfo
                    h2.title Informacion del Organizador
                    ul.clearfix
                        li.clearfix
                            span.titles Direccion:
                            span.content
                                | 1600 Pennsylvania Ave NW, Washington, D.C., DC
                                br
                                |  20500, ABD
                        li.clearfix
                            span.titles TEL :
                            span.content +90 555 55 55
                        li.clearfix
                            span.titles CEL :
                            span.content +90 777 77 77
                        li.clearfix
                            span.titles Email :
                            span.content
                                a(href='#') info@example.com
                        li.clearfix
                            span.titles Staff :
                            span.content
                                a(href='#') support@example.com
                    // Social Icon
                    .social-icon
                        a.facebook.fa.fa-facebook(href='#')
                        a.twitter.fa.fa-twitter(href='#')
                        a.googleplus.fa.fa-google-plus(href='#')
                        a.linkedin.fa.fa-linkedin(href='#')

