//
   Created by JuanCarlos on 8/28/2015.
block navbar-header
    header.header-container
        .header-top
            .container
                .row
                    .col-md-6
                        ul.login-details.clearfix
                            li
                                a.agenticon(href='/login') | Login |
                            li
                                p.membericon No eres Miembro?
                            li
                                a( href='/signup') Registrate Ahora
                    .col-md-6
                        .social-icon.pull-right
                            a.facebook.fa.fa-facebook(href='https://www.facebook.com/pages/Pro-Cultura/265484150305339')
                            a.twitter.fa.fa-twitter(href='/')
                            a.googleplus.fa.fa-google-plus(href='/')
                            a.dribble.fa.fa-cogs(href='/')
        // Main Header
        .main-header.affix
            // Moblie Nav Wrapper
            .mobile-nav-wrapper
                .container
                    // logo
                    #logo
                        a(href='/')
                            img(src='img/logo4.png', alt='')
                    #sb-search.sb-search
                        form
                            input#search.sb-search-input(placeholder='Search', type='text', name='search')
                            input.sb-search-submit(type='submit', value='')
                            span.sb-icon-search
                    // mobile-menu-icon
                    .mobile-menu-icon
                        i.fa.fa-bars
                    // Nav
                    nav.main-nav.mobile-menu
                        ul.clearfix
                            li.active
                                a(href='/') Home
                            li.parent
                                a(href='/events') Eventos
                                // Sub memu
                                ul.sub-menu
                                    li.arrow
                                    li
                                        a(href='/createEvent') Crear Evento
                                    li
                                        a(href='/events') Mostrar Eventos
                            li
                                a(href='/') Unused
