//
   Created by jcespinoza on 6/21/15.
script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")

script(type="text/javascript", src="/js/main.js")
script(type="text/javascript", src="/js/mediaelement-and-player.min.js")
script(type="text/javascript", src="/js/plugins.js")
script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?sensor=false")

script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-cookies/angular-cookies.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/angular-dynamic-locale/dist/tmhDynamicLocale.js")
script(type="text/javascript", src="/vendor/angular-translate/angular-translate.min.js")
script(type="text/javascript", src="/vendor/angular-translate-handler-log/angular-translate-handler-log.min.js")
script(type="text/javascript", src="/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
script(type="text/javascript", src="/vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js")
script(type="text/javascript", src="/vendor/angular-translate-storage-local/angular-translate-storage-local.min.js")

script(type="text/javascript", src="/js/modernizr-2.6.2.min.js")
script(type='text/javascript').
    var switchTo5x = true;
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/services/HostFactory.js")
script(type="text/javascript", src="/app/services/IdentityService.js")
script(type="text/javascript", src="/app/services/UserService.js")
script(type="text/javascript", src="/app/services/EventService.js")
script(type="text/javascript", src="/app/services/LoginService.js")
script(type="text/javascript", src="/app/services/LocaleService.js")
script(type="text/javascript", src="/app/main/scripts/MainController.js")
script(type="text/javascript", src="/app/account/scripts/LoginController.js")
script(type="text/javascript", src="/app/account/scripts/SignupController.js")
script(type="text/javascript", src="/app/events/scripts/EventController.js")
script(type="text/javascript", src="/app/events/scripts/EventDetailsController.js")
script(type="text/javascript", src="/app/events/scripts/UpdateEventController.js")
